name: Publish

on:
  push:
    # Pattern matched against refs/tags
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
      - name: Parse Changelog
        id: changelog
        uses: ocavue/changelog-parser-action@v1
        with:
          removeMarkdown: false
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 21
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v3
      - name: Build
        run: gradle build
      - name: Publish Mod
        env:
          MODRINTH_TOKEN: ${{ secrets.MODRINTH_TOKEN }}
          LATEST_CHANGE_LOG: ${{ steps.changelog.outputs.latestBody }}
        run: gradle modrinth
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          body: ${{ steps.changelog.outputs.latestBody }}
          files: |
            build/libs/*.jar
          make_latest: true
